head
  meta(charset="utf-8")
  title Ntalk - Agenda de contatos

  link(href='stylesheets/normalize.css', rel='stylesheet', type='text/css')
  link(href='stylesheets/foundation.min.css', rel='stylesheet', type='text/css')
  link(href='stylesheets/style.css', rel='stylesheet', type='text/css')

  script(src="/socket.io/socket.io.js", type='text/javascript')
