doctype html
html
  include shared/head
  body
    header.row
      h1 Ntalk
      h4 Infelizmente essa página não existe :(

    section.row
      hr
      p Vamos voltar
        a(href="/") home page?

    include shared/footer
